@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-color: #fafafa;
    height: 100vh;
    text-align: center;
}

.App_headerImage {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

:root {
    --white: #fff;
    --black: #000;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #8e8e8e;
    font-weight: 300;
    font-size: 12px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #8e8e8e;
    font-weight: 300;
    font-size: 12px;
}

::placeholder {
    color: #8e8e8e;
    font-weight: 300;
    font-size: 12px;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #fafafa;
}

.container {
    width: 100%;
    padding: 0 200px;
    margin-top: 80px;
}

.camera {
    color: #f83a63;
    font-size: 30px;
    cursor: pointer;
}

.btn-sweet {
    background: #f83a63;
    color: var(--white);
    text-decoration: none;
    border: none;
    padding: 6px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.App-link {
    color: #61dafb;
}

@media (max-width: 765px) {
    .navbar {
        padding: 0 20px;
    }
    .navbar__middle {
        display: none;
    }
    .navbar__icons {
        display: none;
    }
    .container {
        padding: 0 10px;
    }
    .create {
        width: 90%;
        margin: 15px auto;
    }
    .posts {
        margin: 15px auto;
        width: 90%;
    }
}